.AddAppointment .cancel-container {
    margin: 15px 0;
    text-align: center;
}

.AddAppointment > form {
    margin: 0 auto;
    width: 80vw;
    height: 85vh;
    border: 1px solid;
    border-color: rgba(250, 181, 53, 0.438);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.AddAppointment .cancel-link {
    text-decoration: none;
    border-radius: 10px;
    padding: 0 30px;
    background-color: rgba(250, 181, 53, 0.87);
    color: white;
    font-size: 15px;
    height: fit-content;
}

.AddAppointment .time-container {
    display: flex;
    justify-content: space-around;
}

.AddAppointment .dtp-container {
    height: fit-content;
    margin-left: 10px;
    background-color:  rgb(255, 255, 255);
}

.AddAppointment .dtp  {
    font-size: 25px;
}

.AddAppointment .dtp :nth-child(6) {
   margin: 0;
}

.AddAppointment .dtp :nth-child(9) {
    margin-right: -9px;
 }



.AddAppointment label {
    font-size: 1.8em;
    color: white;
    font-weight: 600;
}

.AddAppointment input {
    border-radius: 7px;
    margin-left: 10px;
    font-size: 1.5rem;
}

.AddAppointment .reason-container {
    display: flex;
}

.AddAppointment textarea {
    height: 100px;
    margin-left: 10px;
}
.AddAppointment .reason {
    align-self: center;
}

.AddAppointment .submit {
    border-style: none;
    border-radius: 10px;
    width: 25%;
    background-color: rgba(250, 181, 53, 0.87);
    color: white;
    height: fit-content;
}

.AddAppointment .submit:hover {
    cursor: pointer;
    transform: scale(1.1);

}

.AddAppointment .select {
    font-size: 1.5rem;
}

.AddAppointment h2 {
    color: white;
}