@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

.Appointment .container {
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
    width: 85vw;
    min-height: 50vh;
    border: 3px solid white;
    background-color: rgba(89, 114, 255, 0.767);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}

.Appointment .labelvalue-container {
    display: flex;
}

.Appointment .value {
    margin: auto 0;
    padding: 0 5px;
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.3em;
    background-color: rgba(0, 0, 0, 0.281);
    color: rgb(255, 208, 0);
    
}

.Appointment .label {
    text-align: center;
    font-size: 1.5em;
    text-shadow: black 1.5px 1.5px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
}
